<!DOCTYPE html>
<html>
<head>
    <title>Inloggen</title>
</head>
<body>
    <h1>Inloggen</h1>
    <form action="login.php" method="POST">
        <label for="gebruikersnaam">Gebruikersnaam:</label>
        <input type="text" name="gebruikersnaam" id="gebruikersnaam" required><br><br>
        <label for="wachtwoord">Wachtwoord:</label>
        <input type="password" name="wachtwoord" id="wachtwoord" required><br><br>
        <input type="submit" value="Inloggen">
    </form>
</body>
</html>