{% extends "login.twig" %}

{% block content %}
    <h1>Login</h1>
    <form method="post" action="login.php">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
        <p>Forgot your password? <a href="forgot-password.php">Click here</a>.</p>
    </form>
{% endblock %}
