<!DOCTYPE html>
<html>
<head>
    <title>Welkom</title>
</head>
<body>
    {% block content %}
    <h1>Welkom op de website</h1>
    <p>Log in om toegang te krijgen tot de gebruikerspagina.</p>
    <a href="login.php">Inloggen</a>
    {% endblock %}
</body>
</html>